body {
    font-family: 'Poppins', ;
}

.row {
    padding: 50px;
}

.container {
    margin-bottom: 70px;
}

.container img {
    width: 100px;
}

.orange-bg {
    background-color: violet;
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: tomato;
}

.buy-now {
    background-image: linear-gradient(to bottom #ff09ff 0% #ff136f 100%);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    color: blue;
    cursor: pointer;
}